body{
        background-color: #000;
        margin: auto;
		overflow: hidden;
}

#installBtn{
		position: absolute;
		left: 35%;
		width: 30%;
		top: 35%;
		height: 30%;
		font-size: 300%;
		z-index: 1;
}

canvas{
        background-color: #55B5F5;
        width: 100%;
        height: 100%;
        image-rendering: -moz-crisp-edges;
        margin: none;
		overflow: hidden;
		position:absolute;
		top:0px;
		left:0px;
		z-index: 0;
}


